<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="WMSSuitable.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
    <!--add name="WMSConnectionString" connectionString="Data Source=Local-WMS;Initial Catalog=WMS;User ID=WMSUser;Password=wms" providerName="System.Data.SqlClient"/-->
    <add name="WMSConnectionString" connectionString="Data Source=(local);Initial Catalog=WMS;User ID=WMSUser;Password=wms" providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<applicationSettings>
		<WMSSuitable.Properties.Settings>
   <setting name="ConnectionStringName" serializeAs="String">
    <value>WMSConnectionString</value>
   </setting>
   <setting name="HelpResourceName" serializeAs="String">
    <value>WMSSuitable.chm</value>
   </setting>
  </WMSSuitable.Properties.Settings>
	</applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
