TD {
	FONT-SIZE: 0.8em; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TH {
	FONT-SIZE: 1em; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TR {
	FONT-SIZE: 0.8em; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: medium; FONT-FAMILY: Verdana
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: small; FONT-FAMILY: Verdana
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; FONT-FAMILY: Verdana
}
.HomeHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #bb0100
}
.Pager_CurrentPage {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: none
}
.SectionMenu A {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.SectionMenu A:visited {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.SectionMenu A:hover {
	TEXT-DECORATION: underline
}
.SectionMenu_SelectedMenuItem {
	FONT-WEIGHT: bold; COLOR: red
}
.SectionMenu2 A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #3366cc; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.SectionMenu2 A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.SectionNav {
	FONT-WEIGHT: normal; COLOR: black; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.pageBody {
	FONT-SIZE: x-small; MARGIN: 0px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
A:link {
	COLOR: #2952a3
}
A:visited {
	COLOR: #7a5ea3; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #bb0100
}
.Footer {
	FONT-SIZE: 11px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.submenu {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.topmenu {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px; TEXT-DECORATION: none
}
.topmenuSel {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; COLOR: #bb0100; PADDING-TOP: 5px; TEXT-DECORATION: none
}
.topmenu A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.topmenu A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.topmenu A:hover {
	COLOR: #ffcc00; TEXT-DECORATION: none
}
.topmenuSel A:link {
	COLOR: #bb0100; TEXT-DECORATION: none
}
.topmenuSel A:visited {
	COLOR: #bb0100; TEXT-DECORATION: none
}
.topmenuSel A:hover {
	COLOR: #bb0100; TEXT-DECORATION: none
}
.SectionMenu {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-DECORATION: none
}
.SectionMenu A {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #2952a3; TEXT-DECORATION: none
}
.SectionMenu A:hover {
	TEXT-DECORATION: underline
}
.SectionMenu2 A {
	FONT-SIZE: 11px; COLOR: #2952a3; TEXT-DECORATION: none
}
.SectionMenu2 A:hover {
	TEXT-DECORATION: underline
}
.TopicMenu A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #663333; FONT-FAMILY: Trebuchet, verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.TopicMenu A:hover {
	TEXT-DECORATION: underline
}
.BreadCrumb {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #bb0100
}
.BreadCrumb A {
	FONT-SIZE: 10px; COLOR: #2952a3
}
.BreadCrumb A:hover {
	COLOR: #bb0100; TEXT-DECORATION: none
}
.BreadCrumb_CurrentCrumb A:link {
	FONT-SIZE: 10px; COLOR: #000000; TEXT-DECORATION: none
}
.BreadCrumb_CurrentCrumb A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.UserLogin {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Sans Serif
}
.UserLogin A {
	FONT-SIZE: 10px; COLOR: #2952a3; TEXT-DECORATION: underline
}
.UserLogin A:hover {
	TEXT-DECORATION: underline
}
.UserLogin A:visited {
	FONT-SIZE: 10px; COLOR: #2952a3; TEXT-DECORATION: underline
}
.Search {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #2952a3
}
.Search_NoMatch {
	FONT-SIZE: 12px; COLOR: #cc0000
}
.ArticleSection_SectionTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #2952a3
}
.ArticleSection_SectionDescription {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.ArticleSection_ListTable {
	
}
.ArticleSection_ListItem {
	BACKGROUND-COLOR: #ffffff
}
.ArticleSection_ListItem2 {
	BACKGROUND-COLOR: #ffffff
}
.ArticleSection_ListAlternatingItem {
	BACKGROUND-COLOR: #ccccff
}
.ArticleSection_ListAlternatingItem2 {
	BACKGROUND-COLOR: #ccccff
}
.ArticleSection_ListTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13px
}
.ArticleSection_ListDate {
	FONT-SIZE: 10px; COLOR: #a2a2a2
}
.ArticleSection_ListAuthorLink {
	FONT-SIZE: 10px; COLOR: #a2a2a2
}
.ArticleSection_ListBriefDescription {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.ArticleSection_ListReadMoreLink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.ArticleSection_NoArticles {
	FONT-SIZE: 12px; COLOR: #cc0000; FONT-FAMILY: verdana, arial, helvetica
}
.ArticleSection_RightBlockTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.Article_Table {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.Article_IntroCell {
	BACKGROUND-COLOR: #ffffff
}
.Article_BodyCell {
	BACKGROUND-COLOR: #ffffff
}
.Article_Title {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #2952a3
}
.Article_AuthorLink {
	FONT-SIZE: 12px; COLOR: #a2a2a2
}
.Article_BriefDescription {
	FONT-WEIGHT: bold; FONT-SIZE: 11px
}
.Article_FullDescription {
	FONT-SIZE: 11px; COLOR: #333333
}
.BookSection_SectionTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #2952a3
}
.BookSection_SectionDescription {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.BookSection_ListTable {
	
}
.BookSection_ListItem {
	BACKGROUND-COLOR: #ffffff
}
.BookSection_ListItem2 {
	BACKGROUND-COLOR: #ffffff
}
.BookSection_ListAlternatingItem {
	BACKGROUND-COLOR: #ccccff
}
.BookSection_ListAlternatingItem2 {
	BACKGROUND-COLOR: #ccccff
}
.BookSection_ListLabel {
	FONT: 10pt verdana
}
.BookSection_ListTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13px
}
.BookSection_ListDate {
	FONT-SIZE: 10px; COLOR: #a2a2a2
}
.BookSection_ListAuthor {
	FONT-SIZE: 12px
}
.BookSection_ListBriefDescription {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.BookSection_ListReadMoreLink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.BookSection_ListPublisher {
	FONT-STYLE: italic
}
.BookSection_ListPublicationDate {
	FONT-STYLE: italic
}
.BookSection_ListBriefDescription {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.BookSection_ListReadMoreLink {
	FONT-SIZE: 14px; COLOR: #2952a3; TEXT-DECORATION: none
}
.BookSection_NoBooks {
	FONT-SIZE: 12px; COLOR: #cc0000; FONT-FAMILY: verdana, arial, helvetica
}
.BookSection_RightBlockTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.Book_Table {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.Book_IntroCell {
	BACKGROUND-COLOR: #ffffff
}
.Book_BodyCell {
	BACKGROUND-COLOR: #ffffff
}
.Book_Title {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #2952a3
}
.Book_Author {
	FONT-SIZE: 12px; COLOR: #a2a2a2
}
.Book_BriefDescription {
	FONT-WEIGHT: bold; FONT-SIZE: 11px
}
.Book_FullDescription {
	FONT-SIZE: 11px; COLOR: #333333
}
.Book_Label {
	FONT-SIZE: 14px; FONT-STYLE: italic; FONT-FAMILY: Comic Sans MS, sans-serif
}
.DownloadSection_SectionTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #2952a3
}
.DownloadSection_SectionDescription {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.DownloadSection_ListTable {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.DownloadSection_ListItem {
	BACKGROUND-COLOR: #ffffff
}
.DownloadSection_ListItem2 {
	BACKGROUND-COLOR: #ffffff
}
.DownloadSection_ListAlternatingItem {
	BACKGROUND-COLOR: #ccccff
}
.DownloadSection_ListAlternatingItem2 {
	BACKGROUND-COLOR: #ccccff
}
.DownloadSection_ListTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13px
}
.DownloadSection_ListDate {
	FONT-SIZE: 10px; COLOR: #a2a2a2
}
.DownloadSection_ListAuthorLink {
	FONT-SIZE: 10px; COLOR: #a2a2a2
}
.DownloadSection_ListFileSize {
	FONT-SIZE: 10px; COLOR: #cc0000; FONT-FAMILY: Trebuchet, verdana, arial, helvetica
}
.DownloadSection_ListDownloadLink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #2952a3; FONT-FAMILY: Trebuchet, verdana, arial, helvetica; TEXT-DECORATION: none
}
.DownloadSection_ListBriefDescription {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.DownloadSection_ListReadMoreLink {
	FONT-SIZE: 12px
}
.DownloadSection_NoDownloads {
	FONT-SIZE: 12px; COLOR: #cc0000; FONT-FAMILY: verdana, arial, helvetica
}
.Download_Table {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.Download_IntroCell {
	BACKGROUND-COLOR: #ffffff
}
.Download_BodyCell {
	BACKGROUND-COLOR: #ffffff
}
.Download_Title {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #2952a3
}
.Download_AuthorLink {
	FONT-SIZE: 12px; COLOR: #a2a2a2
}
.Download_BriefDescription {
	FONT-WEIGHT: normal
}
.Download_FullDescription {
	FONT-SIZE: 12px; COLOR: #333333
}
.Download_Label {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #a2a2a2
}
.Download_FileSize {
	FONT-SIZE: 12px
}
.Download_DownloadLink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #2952a3; FONT-FAMILY: Trebuchet, verdana, arial, helvetica; TEXT-DECORATION: none
}
.EventSection_SectionTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #2952a3
}
.EventSection_SectionDescription {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.EventSection_ListTable {
	
}
.EventSection_ListItem {
	BACKGROUND-COLOR: #ffffff
}
.EventSection_ListItem2 {
	BACKGROUND-COLOR: #ffffff
}
.EventSection_ListAlternatingItem {
	BACKGROUND-COLOR: #ccccff
}
.EventSection_ListAlternatingItem2 {
	BACKGROUND-COLOR: #ccccff
}
.EventSection_ListTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13px
}
.EventSection_ListDate {
	FONT-SIZE: 10px; COLOR: #a2a2a2
}
.EventSection_ListBriefDescription {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.EventSection_ListReadMoreLink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.EventSection_ListNotVisible {
	FONT-SIZE: 12px; FONT-STYLE: italic; BACKGROUND-COLOR: #ccccff
}
.EventSection_NoEvents {
	FONT-SIZE: 12px; COLOR: #cc0000; FONT-FAMILY: verdana, arial, helvetica
}
.EventSection_RightBlockTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.Event_Table {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.Event_IntroCell {
	BACKGROUND-COLOR: #ffffff
}
.Event_BodyCell {
	BACKGROUND-COLOR: #ffffff
}
.Event_Title {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #2952a3
}
.Event_TitleLink {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #a2a2a2
}
.Event_AuthorLink {
	FONT-SIZE: 12px; COLOR: #a2a2a2
}
.Event_BriefDescription {
	FONT-WEIGHT: bold; FONT-SIZE: 11px
}
.Event_FullDescription {
	FONT-SIZE: 11px; COLOR: #333333
}
.Event_Date {
	FONT-SIZE: 10px
}
.Event_MainLink {
	FONT-SIZE: 12px
}
.Event_AuxText {
	FONT-SIZE: 10px; COLOR: #a2a2a2
}
.FAQSection_ListReadMoreLink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.HomeSection_ListReadMoreLink {
	FONT-SIZE: 11px
}
.Home_Date {
	FONT-SIZE: 10px
}
.LinkSection_SectionTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #2952a3
}
.LinkSection_SectionDescription {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.LinkSection_ListTable {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.LinkSection_ListItem {
	BORDER-TOP: #cccccc 1px dashed; BACKGROUND-COLOR: #ffffff
}
.LinkSection_ListItem2 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.LinkSection_ListAlternatingItem {
	BORDER-TOP: #cccccc 1px dashed; BACKGROUND-COLOR: #ffffff
}
.LinkSection_ListAlternatingItem2 {
	BACKGROUND-COLOR: #ffffff
}
.LinkSection_ListTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-VARIANT: small-caps
}
.LinkSection_ListBriefDescription {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.LinkSection_ListCommentLink {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #3366cc; TEXT-DECORATION: none
}
.LinkSection_NoLinks {
	FONT-SIZE: 12px; COLOR: #cc0000; FONT-FAMILY: verdana, arial, helvetica
}
.Link_Table {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.Link_IntroCell {
	BACKGROUND-COLOR: #ffffff
}
.Link_BodyCell {
	BACKGROUND-COLOR: #ffffff
}
.Link_Link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-VARIANT: small-caps
}
.Link_BriefDescription {
	FONT-SIZE: 12px
}
.ParentSection_SectionTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #2952a3
}
.ParentSection_SectionDescription {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.ParentSection_ListTable {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.ParentSection_ListItem {
	BORDER-TOP: #cccccc 1px dashed; BACKGROUND-COLOR: #ffffff
}
.ParentSection_ListItem2 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #ccccff
}
.ParentSection_ListAlternatingItem {
	BORDER-TOP: #cccccc 1px dashed; BACKGROUND-COLOR: #eeeeee
}
.ParentSection_ListAlternatingItem2 {
	BACKGROUND-COLOR: #ccccff
}
.ParnetSection_ListTitleLink {
	FONT-WEIGHT: bold; FONT-SIZE: 13px
}
.ParentSection_ListBriefDescription {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.PhotoSection_SectionTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #2952a3
}
.PhotoSection_SectionDescription {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.PhotoSection_SpacerCell {
	BACKGROUND-COLOR: #ffffff
}
.PhotoSection_ListTable {
	
}
.PhotoSection_ListItem {
	BORDER-TOP: #cccccc 1px dashed; BACKGROUND-COLOR: #ffffff
}
.PhotoSection_ListItem2 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #ccccff
}
.PhotoSection_ListAlternatingItem {
	BORDER-TOP: #cccccc 1px dashed; BACKGROUND-COLOR: #eeeeee
}
.PhotoSection_ListAlternatingItem2 {
	BACKGROUND-COLOR: #ccccff
}
.PhotoSection_ListTitle {
	FONT-SIZE: 14px; FONT-STYLE: normal; FONT-FAMILY: Comic Sans MS, sans-serif
}
.PhotoSection_ListBriefDescription {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.PhotoSection_ListReadMoreLink {
	FONT-SIZE: 12px; COLOR: #2952a3; FONT-FAMILY: Trebuchet, verdana, arial, helvetica; TEXT-DECORATION: none
}
.PhotoSection_NoPhotos {
	FONT-SIZE: 12px; COLOR: #cc0000; FONT-FAMILY: verdana, arial, helvetica
}
.Photo_Table {
	
}
.Photo_IntroCell {
	BACKGROUND-COLOR: #ffffff
}
.Photo_BodyCell {
	BACKGROUND-COLOR: #ffffff
}
.Photo_Title {
	FONT-SIZE: 16px; COLOR: #993300; FONT-STYLE: normal; FONT-FAMILY: Comic Sans MS, sans-serif
}
.Photo_AuthorLink {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #2952a3; TEXT-DECORATION: none
}
.Photo_DateCreated {
	FONT-SIZE: 12px
}
.Photo_BriefDescription {
	FONT: italic 12px verdana
}
.Photo_FullDescription {
	FONT: 12px verdana
}
.DiscussSection_SectionTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #2952a3
}
.DiscussSection_NoPosts {
	FONT-SIZE: 12px; COLOR: #cc0000; FONT-FAMILY: verdana, arial, helvetica
}
.discussCell {
	FONT-WEIGHT: normal
}
.discussCellHiLite {
	FONT-WEIGHT: bold
}
.author {
	FONT-WEIGHT: bold
}
A.author {
	FONT-WEIGHT: bold
}
.itemCommentText {
	FONT-SIZE: 120%
}
.postBodyText {
	FONT-SIZE: 1.2em
}
.itemDateCreated {
	FONT-SIZE: 10px; COLOR: #a2a2a2
}
.DateCreated {
	FONT-SIZE: 10px; COLOR: #a2a2a2
}
.discussTable {
	BACKGROUND-COLOR: #a5aebd
}
.discussTable TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-COLOR: #f7f7f7
}
.discussDiv {
	HEIGHT: 10px; BACKGROUND-COLOR: #b2cce5
}
TD.discussDiv {
	HEIGHT: 10px; BACKGROUND-COLOR: #b2cce5
}
.discussTable TH {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; MARGIN: 1px; COLOR: black; PADDING-TOP: 3px; HEIGHT: 25px; BACKGROUND-COLOR: #b2cce5
}
.discussTable A {
	FONT-SIZE: 11px; COLOR: navy; TEXT-DECORATION: underline
}
.discussAlternCell {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 1px; PADDING-TOP: 3px; BACKGROUND-COLOR: #f0f8ff
}
.discussAlternCellHilite {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-COLOR: #f0f8ff
}
.Comments_ListTable {
	BORDER-RIGHT: #dddddd 2px dashed; BORDER-TOP: #dddddd 2px dashed; BORDER-LEFT: #dddddd 2px dashed; BORDER-BOTTOM: #dddddd 2px dashed
}
.Comments_ListItem {
	BACKGROUND-COLOR: #eee8aa
}
.Comments_ListItem2 {
	BACKGROUND-COLOR: #ffffff
}
.Comments_ListAlternatingItem {
	BACKGROUND-COLOR: #eeeeee
}
.Comments_ListAlternatingItem2 {
	BACKGROUND-COLOR: #ccccff
}
.Comments_ListTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.Comments_ListTitleLink {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #2952a3; TEXT-DECORATION: none
}
.Comments_ListAuthorLink {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.Comments_ListDateCreated {
	FONT-SIZE: 12px
}
.Comments_ListBriefDescription {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.Comments_ListReplyLink {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #993300; TEXT-DECORATION: none
}
.Comments_Table {
	
}
.Comments_IntroCell {
	BACKGROUND-COLOR: #eee8aa
}
.Comments_BodyCell {
	BACKGROUND-COLOR: #ffffff
}
.Comments_Title {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-VARIANT: small-caps
}
.Comments_AuthorLink {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #2952a3; FONT-FAMILY: Trebuchet, verdana, arial, helvetica; TEXT-DECORATION: none
}
.Comments_DateCreated {
	FONT-SIZE: 12px
}
.Comments_BriefDescription {
	FONT-SIZE: 12px
}
.Comments_ParentLink {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #2952a3; FONT-FAMILY: Trebuchet, verdana, arial, helvetica; TEXT-DECORATION: none
}
.Topics_TopicTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 17px; FONT-VARIANT: small-caps
}
.Topics_TopicDescription {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.Topics_ListTable {
	BORDER-RIGHT: #99ffff 2px dashed; BORDER-TOP: #99ffff 2px dashed; BORDER-LEFT: #99ffff 2px dashed; BORDER-BOTTOM: #99ffff 2px dashed
}
.Topics_ListItem {
	BACKGROUND-COLOR: #ffffff
}
.Topics_ListItem2 {
	BACKGROUND-COLOR: #ffffff
}
.Topics_ListAlternatingItem {
	BORDER-TOP: #cccccc 1px dashed; BACKGROUND-COLOR: #eeeeee
}
.Topics_ListAlternatingItem2 {
	BACKGROUND-COLOR: #ccccff
}
.Topics_ListTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-VARIANT: small-caps
}
.Topics_ListTitleLink {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #2952a3; TEXT-DECORATION: none
}
.Topics_ListAuthorLink {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #2952a3; TEXT-DECORATION: none
}
.Topics_ListDateCreated {
	FONT-SIZE: 12px
}
.Topics_ListBriefDescription {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.Search_ListTable {
	
}
.Search_ListItem {
	BACKGROUND-COLOR: #ffffff
}
.Search_ListItem2 {
	BACKGROUND-COLOR: #ffffff
}
.Search_ListAlternatingItem {
	BACKGROUND-COLOR: #ccccff
}
.Search_ListAlternatingItem2 {
	BACKGROUND-COLOR: #ccccff
}
.Search_ListTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13px
}
.Search_ListTitleLink {
	FONT-WEIGHT: bold; FONT-SIZE: 13px
}
.Search_ListDate {
	FONT-SIZE: 10px; COLOR: #a2a2a2
}
.Search_ListAuthorLink {
	FONT-SIZE: 10px; COLOR: #a2a2a2
}
.Search_ListBriefDescription {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.Search_ListReadMoreLink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.Search_NoResults {
	FONT-SIZE: 12px; COLOR: #cc0000; FONT-FAMILY: verdana, arial, helvetica
}
.ListAuthorLink {
	
}
.itemAuthor {
	
}
.Form_Title {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #2952a3
}
.Form_SubTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #2952a3
}
.Form_Description {
	FONT-SIZE: 12px
}
.Form_Table {
	
}
.Form_LabelRow {
	FONT-SIZE: 10pt
}
.Form_LabelCell {
	FONT-SIZE: 10pt
}
.Form_LabelText {
	FONT-WEIGHT: bold; FONT-SIZE: 10px
}
.Form_FieldRow {
	FONT-SIZE: 12px
}
.Form_FieldCell {
	FONT-SIZE: 12px
}
.Form_Field {
	BORDER-RIGHT: #404040 1px solid; BORDER-TOP: #404040 1px solid; BORDER-LEFT: #404040 1px solid; BORDER-BOTTOM: #404040 1px solid; HEIGHT: 20px
}
.Form_SectionRow {
	BACKGROUND-COLOR: #ffffff
}
.Form_SectionCell {
	FONT-SIZE: 12pt
}
.Form_SectionText {
	FONT-WEIGHT: bold
}
.Form_Button {
	BORDER-RIGHT: #404040 1px solid; BORDER-TOP: #404040 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: #404040 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #404040 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #737373
}
.Vote_button {
	BORDER-RIGHT: #404040 1px solid; BORDER-TOP: #404040 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: #404040 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #404040 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #737373
}
.Form_HelpText {
	FONT-SIZE: 8pt
}
.Form_SubSectionRow {
	FONT-SIZE: 13px
}
.Form_SubSectionCell {
	FONT-SIZE: 13px
}
.Form_SubSectionText {
	FONT-SIZE: 13px
}
.Form_List {
	FONT-SIZE: 12px
}
.Form_Message {
	FONT-SIZE: 12px; COLOR: #cc0000
}
.WebBox_ListTable {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 10px; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.WebBox_ListItem {
	FONT: 10px verdana
}
.WebBox_ListItem A {
	FONT-SIZE: 10px; COLOR: #2952a3; TEXT-DECORATION: none
}
.WebBox_ListItem A:hover {
	TEXT-DECORATION: underline
}
.WebBox_TitleText {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.WebBox_TitleText A:active {
	COLOR: #3366cc; TEXT-DECORATION: none
}
.WebBox_TitleText A:link {
	COLOR: #3366cc; TEXT-DECORATION: none
}
.WebBox_TitleText A:visited {
	COLOR: #3366cc; TEXT-DECORATION: underline
}
.WebBox_TitleText A:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.WebBox_TitleRow {
	FONT-SIZE: 10px; FONT-STYLE: italic; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.WebBox_TitleCell {
	FONT-SIZE: 10px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.WebBox_Table {
	FONT-SIZE: 10px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.WebBox_SubText {
	FONT-SIZE: 8px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.WebBox_Link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #993300; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.WebServiceBox_ListTable {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 10px; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.WebServiceBox_ServiceTitleLink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #2952a3; TEXT-DECORATION: none
}
.WebServiceBox_ServiceTitleLink:hover {
	FONT-WEIGHT: bold
}
.WebServiceBox_ServiceDescription {
	FONT-SIZE: 10px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.WebServiceBox_ListTitleLink:link {
	FONT: 10px verdana; COLOR: #2952a3; TEXT-DECORATION: none
}
.WebServiceBox_ListTitleLink:hover {
	TEXT-DECORATION: underline
}
.WebServiceBox_ListDescription {
	FONT-SIZE: 10px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.WebServiceBox_Copyright {
	FONT-SIZE: 8px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.WebServiceBox_LastRefreshed {
	FONT-SIZE: 8px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.ForumLogin_SectionTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #2952a3
}
.ForumLogin_SectionDescription {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.ForumLogin_LoginLink A {
	FONT-SIZE: 10px; COLOR: #2952a3; TEXT-DECORATION: underline
}
.ForumLogin_LoginLink A:hover {
	FONT-SIZE: 10px; COLOR: #2952a3; TEXT-DECORATION: none
}
.ForumLogin_LoginLink A:link {
	FONT-SIZE: 10px; COLOR: #2952a3; TEXT-DECORATION: underline
}
.itemRating TD {
	FONT-SIZE: 10px; COLOR: #a2a2a2
}
.rating TD {
	FONT-SIZE: 10px; COLOR: #000000
}
.headerTitle {
	FONT-SIZE: 10px; CURSOR: default; COLOR: #2952a3
}
.Content_SubTitleRow {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #2952a3
}
.Content_TitleText {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #2952a3
}
.Content {
	FONT-WEIGHT: bold
}
.Content_SubTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #2952a3
}
.Error_Message {
	FONT-WEIGHT: normal; COLOR: #ff0000
}
SELECT {
	FONT-SIZE: 9px
}
.ContentTable {
	BACKGROUND-COLOR: #ffffff
}
.ContentTable TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; MARGIN: 1px; COLOR: black; PADDING-TOP: 3px; HEIGHT: 25px; BACKGROUND-COLOR: #b2cce5
}
.rightBlockTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.sampleCode {
	BORDER-RIGHT: #b2cce5 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #b2cce5 1px solid; PADDING-LEFT: 5px; FONT-SIZE: x-small; PADDING-BOTTOM: 15px; OVERFLOW: scroll; BORDER-LEFT: #b2cce5 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #b2cce5 1px solid; WHITE-SPACE: normal; BACKGROUND-COLOR: #f3f7fb
}
.inlineCode {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: x-small; PADDING-BOTTOM: 15px; OVERFLOW: scroll; PADDING-TOP: 0px; FONT-FAMILY: Courier New; WHITE-SPACE: pre
}
TD.sampleCodeTab {
	BORDER-RIGHT: #3399ff 0px; PADDING-RIGHT: 3px; BORDER-TOP: #3399ff 0px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; FONT: 8pt verdana; BORDER-LEFT: #3399ff 1px solid; WIDTH: 15%; PADDING-TOP: 3px; BORDER-BOTTOM: #3399ff 1px solid; BACKGROUND-COLOR: #99ccff; TEXT-ALIGN: center
}
TD.sampleCodeBacktab {
	BORDER-RIGHT: #3399ff 0px; PADDING-RIGHT: 3px; BORDER-TOP: #3399ff 0px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; FONT: 8pt verdana; BORDER-LEFT: #3399ff 1px solid; WIDTH: 15%; CURSOR: hand; PADDING-TOP: 3px; BORDER-BOTTOM: #3399ff 1px solid; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
TD.sampleCodeSpace {
	BORDER-RIGHT: #cccccc 1px; PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 0px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; FONT: 8pt verdana; BORDER-LEFT: #3399ff 1px solid; WIDTH: 70%; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px; BACKGROUND-COLOR: white
}
.code {
	FONT-SIZE: xx-small; FONT-FAMILY: courier new
}
TD.code {
	FONT-SIZE: small; FONT-FAMILY: courier
}
.GenericPanelYellow {
	BORDER-RIGHT: #3399ff 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #3399ff 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 15px; BORDER-LEFT: #3399ff 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #3399ff 1px solid; BACKGROUND-COLOR: #e5f2ff
}
.SubSubHead {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: black; FONT-FAMILY: Verdana, Arial
}
.Normal {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial
}
.DiscussSection_ListReadMoreLink {
	FONT-SIZE: 12px
}
.itemParentSectionTitleLink {
	FONT-WEIGHT: bold; COLOR: #2952a3
}
.ParentSection_ListTitleLink {
	FONT-WEIGHT: bold; CURSOR: hand; COLOR: #000000
}
TR.titlerow {
	FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #b2cce5
}
TD.titlerow {
	FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #b2cce5
}
.itemTitleLink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.code {
	FONT-SIZE: xx-small; FONT-FAMILY: courier new
}
.comment {
	COLOR: green
}
.marked {
	COLOR: #0000dd
}
.insertTag {
	FONT-WEIGHT: bold; CURSOR: hand; COLOR: navy
}
.headerHref {
	FONT-WEIGHT: bold; FONT-SIZE: small; COLOR: #000066
}
.vsheaderHref {
	FONT-WEIGHT: bold; FONT-SIZE: medium; COLOR: #000066
}
.master {
	BACKGROUND: #ffffee
}
.scroll {
	OVERFLOW-Y: auto; FONT-SIZE: x-small; BACKGROUND: #ffffff; OVERFLOW-X: auto; FONT-FAMILY: Verdana
}
.samplecode_yel {
	BACKGROUND-COLOR: yellow
}
.kw {
	COLOR: blue
}
.com {
	COLOR: green
}
.str {
	COLOR: darkcyan
}
.lineQuote {
	COLOR: #338822
}
.tagline {
	FONT-SIZE: 10px; COLOR: brown; TEXT-INDENT: 5mm; PADDING-TOP: 5mm
}
TD.c {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: black; PADDING-TOP: 0px; FONT-FAMILY: 'courier','courier new', 'courier cyr','courier new cyr'; BACKGROUND-COLOR: #eeeeee
}
.standardsButton {
	BORDER-RIGHT: #7d3302 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffc8a4 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 10px verdana,sans-serif; VERTICAL-ALIGN: middle; BORDER-LEFT: #ff9a57 1px solid; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: #3f1a01 1px solid; BACKGROUND-COLOR: #ff6600; TEXT-DECORATION: none
}
.standardsButton:link {
	BORDER-RIGHT: #7d3302 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffc8a4 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 10px verdana,sans-serif; VERTICAL-ALIGN: middle; BORDER-LEFT: #ff9a57 1px solid; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: #3f1a01 1px solid; BACKGROUND-COLOR: #ff6600; TEXT-DECORATION: none
}
.standardsButton:hover {
	BORDER-RIGHT: #7d3302 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffc8a4 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 10px verdana,sans-serif; VERTICAL-ALIGN: middle; BORDER-LEFT: #ff9a57 1px solid; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: #3f1a01 1px solid; BACKGROUND-COLOR: #ff6600; TEXT-DECORATION: none
}
.standardsButton:visited {
	BORDER-RIGHT: #7d3302 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffc8a4 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 10px verdana,sans-serif; VERTICAL-ALIGN: middle; BORDER-LEFT: #ff9a57 1px solid; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: #3f1a01 1px solid; BACKGROUND-COLOR: #ff6600; TEXT-DECORATION: none
}
.rssFeedLink {
	BORDER-RIGHT: #b2cce5 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #b2cce5 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 10px verdana,sans-serif; VERTICAL-ALIGN: middle; BORDER-LEFT: #b2cce5 1px solid; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: #b2cce5 1px solid; BACKGROUND-COLOR: #2952a3; TEXT-DECORATION: none
}
.rssFeedLink:link {
	BORDER-RIGHT: #b2cce5 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #b2cce5 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 10px verdana,sans-serif; VERTICAL-ALIGN: middle; BORDER-LEFT: #b2cce5 1px solid; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: #b2cce5 1px solid; BACKGROUND-COLOR: #2952a3; TEXT-DECORATION: none
}
.rssFeedLink:hover {
	BORDER-RIGHT: #b2cce5 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #b2cce5 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 10px verdana,sans-serif; VERTICAL-ALIGN: middle; BORDER-LEFT: #b2cce5 1px solid; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: #b2cce5 1px solid; BACKGROUND-COLOR: #2952a3; TEXT-DECORATION: none
}
.rssFeedLink:visited {
	BORDER-RIGHT: #b2cce5 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #b2cce5 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 10px verdana,sans-serif; VERTICAL-ALIGN: middle; BORDER-LEFT: #b2cce5 1px solid; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: #b2cce5 1px solid; BACKGROUND-COLOR: #2952a3; TEXT-DECORATION: none
}
PRE.inlineCode {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 90%; PADDING-BOTTOM: 10px; OVERFLOW: auto; WIDTH: 600px; PADDING-TOP: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
PRE.sampleCode {
	BORDER-RIGHT: #b2cce5 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #b2cce5 1px solid; PADDING-LEFT: 15px; FONT-SIZE: 90%; PADDING-BOTTOM: 15px; OVERFLOW: auto; BORDER-LEFT: #b2cce5 1px solid; PADDING-TOP: 15px; BORDER-BOTTOM: #b2cce5 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f3f7fb
}
IMG#RSSLink {
	FLOAT: right; MARGIN: 5px 20px
}
A IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; BACKGROUND: #f3f7fb; PADDING-BOTTOM: 0px; MARGIN: 10px 10px 0px; BORDER-LEFT: #b2cce5 6px solid; PADDING-TOP: 5px
}
BLOCKQUOTE BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #b2cce5 3px solid; PADDING-TOP: 5px
}
.loginBox {
	FONT-SIZE: 100%
}
.img-shadow {
	BACKGROUND: url(/images/shadow.gif) no-repeat right bottom; FLOAT: left; MARGIN: 10px 0px 0px 5px
}
.img-shadow IMG {
	BORDER-RIGHT: #a9a9a9 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #a9a9a9 1px solid; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: -6px 6px 6px -6px; BORDER-LEFT: #a9a9a9 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #a9a9a9 1px solid; POSITION: relative; BACKGROUND-COLOR: #fff
}
