set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go
ALTER PROCEDURE [dbo].[up_OutputsPalletsEachFill]
	@nOutputID	int, 
	@nError		int = 0 output, 
	@cErrorText	varchar(200) = '' output 
AS

set nocount on

if	@nOutputID <> 0 and 
		not exists (select ID from Outputs with (nolock) where ID = IsNull(@nOutputID, 0)) begin 
	select	@nError = -1, 
			@cErrorText = 'Не найден расход с кодом ' + ltrim(str(@nOutputID)) + '...'
	raiserror (@cErrorText, 11, 1);
	return
end

-- все товары расхода
select	IG.OutputID, IG.ID * 1 as OutputGoodID, 
		IG.PackingID, 
		(case when I.DateConfirm is null then IG.QntWished else IG.QntConfirmed end) as Qnt, 
		P.InBox, P.BoxInPal, 
		floor((case when I.DateConfirm is null then IG.QntWished else IG.QntConfirmed end) / (P.InBox * P.BoxInPal)) as FullPallets
	into	#OutputsGoodsFullPallets
	from	OutputsGoods IG with (nolock) 
	inner join Outputs I with (nolock) on IG.OutputID = I.ID
	inner join Packings P with (nolock) on IG.PackingID = P.ID
	where	IG.OutputID = IsNull(@nOutputID, 0)
-- все паллеты расхода
select	OutputID, OutputGoodID, PackingID, Qnt, InBox, BoxInPal, FullPallets, 
		cast(0 as int) as RestBox, cast(0 as decimal(18, 3)) as RestQnt
	into	#OutputsGoodsPallets
	from	#OutputsGoodsFullPallets
	where	1 = 2 

-- все товары накладной, 1 строка на паллету
declare @nOutputGoodID int, 
		@nPackingID smallint, @nQnt numeric(12, 3), @nInBox numeric(10, 3), @nBoxInPal int, 
		@nFullPallets int, @nQntIn numeric(12,3)
declare C_Pallets cursor for 
	select OutputGoodID, PackingID, Qnt, InBox, BoxInPal, FullPallets
		from #OutputsGoodsFullPallets
open  C_Pallets

fetch next from C_Pallets
	into @nOutputGoodID, @nPackingID, @nQnt, @nInBox, @nBoxInPal, @nFullPallets
while @@fetch_status = 0 begin
	set @nQntIn = 0
	
	-- добавляем по 1 строке на каждую целую паллету
	while @nFullPallets > 0 begin	
		insert  #OutputsGoodsPallets 
				(OutputID, OutputGoodID, PackingID, Qnt, InBox, BoxInPal, FullPallets)
			values 	(@nOutputID, @nOutputGoodID, @nPackingID, @nInBox * @nBoxInPal, @nInBox, @nBoxInPal, 1)
		set @nFullPallets = @nFullPallets - 1
		set @nQntIn = @nQntIn + @nInBox * @nBoxInPal
	end
	
	-- и еще 1 строку на остаток
	if @nQnt - @nQntIn > 0
		insert  #OutputsGoodsPallets 
				(OutputID, OutputGoodID, PackingID, Qnt, InBox, BoxInPal, FullPallets)
			values 	(@nOutputID, @nOutputGoodID, @nPackingID, @nQnt - @nQntIn, @nInBox, @nBoxInPal, 0)
	fetch next from C_Pallets 
		into @nOutputGoodID, @nPackingID, @nQnt, @nInBox, @nBoxInPal, @nFullPallets
end

close C_Pallets		
deallocate C_Pallets

update	#OutputsGoodsPallets
	set RestBox = floor(Qnt / InBox)
update	#OutputsGoodsPallets
	set RestQnt = Qnt - RestBox * InBox

select	T.OutputID, T.OutputGoodID, 
		T.PackingID, T.InBox, T.BoxInPal, 
		P.BoxInRow, 
		T.Qnt, 
		T.Qnt / T.InBox as Box, 
		cast(T.Qnt / T.InBox / T.BoxInPal as decimal(12, 4)) as Pal, 
		T.RestBox, T.RestQnt, 
		T.FullPallets, 
		G.Alias as GoodAlias, G.Name as GoodName, 
		G.BarCode as GoodBarCode, 
		G.Articul, 
		G.Weighting, G.Retention, 
		GG.Name as GoodGroupName, 
		GB.Name as GoodBrandName
	from	#OutputsGoodsPallets T 
	inner join OutputsGoods IG with (nolock) on T.OutputGoodID = IG.ID
	inner join Packings P with (nolock) on T.PackingID = P.ID
	inner join Goods G with (nolock) on P.GoodID = G.ID
	inner join GoodsGroups GG with (nolock) on G.GoodGroupID = GG.ID
	inner join GoodsBrands GB with (nolock) on G.GoodBrandID = GB.ID
	order by G.Alias, IG.ID
return